@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block; /*as images are inline elemnt they tend to have small gaps display block removes those gaps */
    max-width: 100%; /* so the image doesn't exceed its container*/
    height: auto; /* as we have added height in img in the html code to prevent content layout shift so it's better to add height here as well */
}

/* wrap */
.nowrap{
    white-space: nowrap; /*so that name doesn't break into two lines.like jane dev rel. with white-space: nowrap this name stays in one line. */
}
/* ||General Style */

html{
    scroll-behavior: smooth;/*in nav when we press the name it smoothly goes to the name. totally optional for smooth transsition of the page.*/
}


body{
    font: 1.5rem "Nunito", sans-serif;
    min-height: 100vh;
    background-color: #475569;
    background-image: radial-gradient(whitesmoke,#475569);
    display: flex;
    flex-direction: column;
}

header,
footer{
    position: sticky;
    background-color: #1e293b;
    color: white;
    text-align: center;
}

header{
    top: 0;
}

nav{
    background-color: white;
    border: 2px solid black;
    padding: 0.5rem;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;

}

nav a,
nav a:visited{
    color: black;
}

nav a:hover,
nav a:focus{
    color: blue;
}

main{
    flex-grow: 1;/* so that the content grow with the page size */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    align-items: center;
}

footer {
    bottom: 0;
}

/*Profile card */
.card{
    scroll-margin-top: 8rem; /*when we scroll this begins the scoll not directly from the nav rather after a gap below the name bar */
    width: min(100%, 350px);/* this means take up the full width of the picture but don't exceed above 350px.However you can go below 350px */
    background-color: #cbd5e1; /* the background color inside the border */
    border: 1px solid black;
    border-radius: 15px;
    padding: 1rem;
    /* we need center the writings inside the card so we use flex.*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* notice that through quotation line went center but name didn't cause name like Joe coder is figurecaption. We have to do it separately. */

.card figure{
    display: flex; /* this is so that the figure doesn't wrap o break when screen shrinks.*/
    flex-flow: column nowrap;
}

.card img {
    border: 5px double black;
    border-radius: 50%;
}

/*now for the figcaption or name.*/

.card figcaption {
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    /* no need to make flex we can just do text-aling*/
}

/*small */

@media screen and (min-width: 576px) {
    main{
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
    }
    .card{
        width: min(100%, 400px);
    }

    .card:last-child{
        order: -1;
    }
    
}

/*medium*/
@media screen and (min-width: 768px){
    nav{
        display: none;
    }
    .card{
        width: min(100%, 325px);
    }
    .card figure{
        flex-flow: column-reverse;
    }
    .card p{
        margin-top: 1rem;
    }
}
/*large*/

@media screen and (min-width: 992px){
    .card{
        width: min(100%,400px);
    }
    .card:nth-child(2){
        order: -1;
    }
}

/*XL*/
@media screen and (min-width: 1200px)  {
    .card{
        width: min(calc(33%-1rem),500px)
    }   
}
 /*mobile device landscape*/

 @media screen and (max-height: 425px)
 and (min-aspect-ratio: 7/4) {
    h1{font-size: 1.5rem;}
    nav{
        display: none;
    }

    main {
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

    .card{
        width: min(calc(33% - 0.25rem),200px);
    }
    .card figcaption,
    .card p{
        font-size: 1.25rem;
    }
    
 }